@import "tailwindcss";

@plugin "tailwindcss-animate";

:root {
  --app-font-size: 16px;
  --background: oklch(1 0 0);
  --foreground: oklch(0.1405 0.0044 285.8238);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.1405 0.0044 285.8238);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.1405 0.0044 285.8238);
  --primary: oklch(0.7218 0.1129 233.1408);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.737 0.1699 146.8552);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.9684 0.0068 247.8951);
  --muted-foreground: oklch(0.7119 0.0129 286.0684);
  --accent: oklch(0.5072 0.1592 33.1866);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.6368 0.2078 25.3259);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.929 0.0126 255.5317);
  --input: oklch(0.929 0.0126 255.5317);
  --ring: oklch(0.7218 0.1129 233.1408);
  --chart-1: oklch(0.7218 0.1129 233.1408);
  --chart-2: oklch(0.737 0.1699 146.8552);
  --chart-3: oklch(0.5072 0.1592 33.1866);
  --chart-4: oklch(0.6481 0.1903 352.7635);
  --chart-5: oklch(0.8942 0.1911 109.7125);
  --sidebar: oklch(0.9838 0.0035 247.8583);
  --sidebar-foreground: oklch(0.1405 0.0044 285.8238);
  --sidebar-primary: oklch(0.7218 0.1129 233.1408);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.5072 0.1592 33.1866);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.929 0.0126 255.5317);
  --sidebar-ring: oklch(0.7218 0.1129 233.1408);
  --font-sans: "Roboto", sans-serif;
  --font-serif: "Lora", serif;
  --font-mono: "Fira Code", monospace;
  --radius: 0.5rem;
  --shadow-x: 0rem;
  --shadow-y: 0.25rem;
  --shadow-blur: 1rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.1;
  --shadow-color: hsl(240 10% 3.9%);
  --shadow-2xs: 0rem 0.25rem 1rem 0rem hsl(240 10% 3.9% / 0.05);
  --shadow-xs: 0rem 0.25rem 1rem 0rem hsl(240 10% 3.9% / 0.05);
  --shadow-sm:
    0rem 0.25rem 1rem 0rem hsl(240 10% 3.9% / 0.1),
    0rem 1px 2px -1px hsl(240 10% 3.9% / 0.1);
  --shadow:
    0rem 0.25rem 1rem 0rem hsl(240 10% 3.9% / 0.1),
    0rem 1px 2px -1px hsl(240 10% 3.9% / 0.1);
  --shadow-md:
    0rem 0.25rem 1rem 0rem hsl(240 10% 3.9% / 0.1),
    0rem 2px 4px -1px hsl(240 10% 3.9% / 0.1);
  --shadow-lg:
    0rem 0.25rem 1rem 0rem hsl(240 10% 3.9% / 0.1),
    0rem 4px 6px -1px hsl(240 10% 3.9% / 0.1);
  --shadow-xl:
    0rem 0.25rem 1rem 0rem hsl(240 10% 3.9% / 0.1),
    0rem 8px 10px -1px hsl(240 10% 3.9% / 0.1);
  --shadow-2xl: 0rem 0.25rem 1rem 0rem hsl(240 10% 3.9% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

body {
  font-size: var(--app-font-size);
}

.dark {
  --background: oklch(0.1405 0.0044 285.8238);
  --foreground: oklch(0.9848 0 0);
  --card: oklch(0.1405 0.0044 285.8238);
  --card-foreground: oklch(0.9848 0 0);
  --popover: oklch(0.1405 0.0044 285.8238);
  --popover-foreground: oklch(0.9848 0 0);
  --primary: oklch(0.6121 0.122 236.5594);
  --primary-foreground: oklch(0.9848 0 0);
  --secondary: oklch(0.6047 0.1544 146.2412);
  --secondary-foreground: oklch(0.9848 0 0);
  --muted: oklch(0.2741 0.0055 286.0329);
  --muted-foreground: oklch(0.7119 0.0129 286.0684);
  --accent: oklch(0.3654 0.109 33.2114);
  --accent-foreground: oklch(0.9848 0 0);
  --destructive: oklch(0.3959 0.1331 25.7205);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.2741 0.0055 286.0329);
  --input: oklch(0.2741 0.0055 286.0329);
  --ring: oklch(0.6121 0.122 236.5594);
  --chart-1: oklch(0.6121 0.122 236.5594);
  --chart-2: oklch(0.6047 0.1544 146.2412);
  --chart-3: oklch(0.3654 0.109 33.2114);
  --chart-4: oklch(0.6481 0.1903 352.7635);
  --chart-5: oklch(0.8942 0.1911 109.7125);
  --sidebar: oklch(0.1531 0.0054 285.7444);
  --sidebar-foreground: oklch(0.9848 0 0);
  --sidebar-primary: oklch(0.6121 0.122 236.5594);
  --sidebar-primary-foreground: oklch(0.9848 0 0);
  --sidebar-accent: oklch(0.3654 0.109 33.2114);
  --sidebar-accent-foreground: oklch(0.9848 0 0);
  --sidebar-border: oklch(0.2741 0.0055 286.0329);
  --sidebar-ring: oklch(0.6121 0.122 236.5594);
  --font-sans: "Roboto", sans-serif;
  --font-serif: "Lora", serif;
  --font-mono: "Fira Code", monospace;
  --radius: 0.5rem;
  --shadow-x: 0rem;
  --shadow-y: 0.5rem;
  --shadow-blur: 1.5rem;
  --shadow-spread: 0.25rem;
  --shadow-opacity: 0.5;
  --shadow-color: hsl(240 10% 3.9%);
  --shadow-2xs: 0rem 0.5rem 1.5rem 0.25rem hsl(240 10% 3.9% / 0.25);
  --shadow-xs: 0rem 0.5rem 1.5rem 0.25rem hsl(240 10% 3.9% / 0.25);
  --shadow-sm:
    0rem 0.5rem 1.5rem 0.25rem hsl(240 10% 3.9% / 0.5),
    0rem 1px 2px -0.75px hsl(240 10% 3.9% / 0.5);
  --shadow:
    0rem 0.5rem 1.5rem 0.25rem hsl(240 10% 3.9% / 0.5),
    0rem 1px 2px -0.75px hsl(240 10% 3.9% / 0.5);
  --shadow-md:
    0rem 0.5rem 1.5rem 0.25rem hsl(240 10% 3.9% / 0.5),
    0rem 2px 4px -0.75px hsl(240 10% 3.9% / 0.5);
  --shadow-lg:
    0rem 0.5rem 1.5rem 0.25rem hsl(240 10% 3.9% / 0.5),
    0rem 4px 6px -0.75px hsl(240 10% 3.9% / 0.5);
  --shadow-xl:
    0rem 0.5rem 1.5rem 0.25rem hsl(240 10% 3.9% / 0.5),
    0rem 8px 10px -0.75px hsl(240 10% 3.9% / 0.5);
  --shadow-2xl: 0rem 0.5rem 1.5rem 0.25rem hsl(240 10% 3.9% / 1.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
